* {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

.header {
    background-color: rgb(86, 187, 241);
    color: #ffffff;
    height: 165px;
    width: 100%;
}

.body {
  padding: 0px;
  margin: 0px;
}

.header-logo {
  float: left;
}

.header-logo h2 {
  color: rgb(70, 70, 70);
  margin-top: 50px;
  margin-left: 50px;
  font-size: 55px;
  float: left;
  font-family: 'Sawarabi Gothic', sans-serif;
}

img.logotata {
  height: 50px;
  width: 50px;
  float: left;
  padding: 15px;
  padding-top: 19px;
}

.header-list {
  background-color: rgb(186, 227, 249);
  padding-right: 10px;
  height: 75px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.header-list li {
  float: left;
  color: black;
  padding-right: 25px;
  font-size: 25px;
  transition: color 0.2s;
  float: left;
  padding-right: 20px;
  padding-top: 20px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.header-list li:hover {
  color: rgb(245, 162, 0);
}

.header-li-back {
  background-color: rgb(186, 227, 249);
}

.leftlist {
  margin-left: 50px;
}

.main {
  padding-left: 80px;
  padding-right: 80px;
  font-family: 'Noto Sans JP', sans-serif;
}

.section-title h3 {
  font-size: 150%;
  position: relative;
  padding-left: 25px;
  padding-bottom:
    font-family: 'Noto Sans JP', sans-serif;
}

.section-title h3:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 17px transparent;
  border-bottom: solid 17px rgb(119, 195, 223);
}

.section-title h3:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.contents-item {
  float: left;
  color: black;
  margin-top: 15px;
  font-size: 175%;
}

.contents-item p {
  margin-top: 30px;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
}

.contents-item a {
  color: rgb(0, 0, 0);
  transition: color 0.3s;
  font-family: 'Noto Sans JP', sans-serif;
}

.contents-item a:hover {
  color: rgb(151, 206, 162);
}

.contents {
  color: black;
}

.title h1 {
  font-size: 95px;
  padding-top: 100px;
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

.title h2 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Noto Sans JP', sans-serif;
}

.kuhaku {
  height: 800px;
}

.footer {
  background-color: rgba(0, 111, 188, 15);
  color: #fff;
  height: 260px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

.footer-list {
  float: left;
  font-family: 'Noto Sans JP', sans-serif;
}

.footer-list li {
  float: left;
  padding-top: 90px;
  padding-left: 50px;
  font-size: 22px;
  font-family: 'Noto Sans JP', sans-serif;
}

.footer-list li a {
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.list:hover {
  color: rgb(245, 162, 0);
  transition: 0.2s;
}
